REDIRECT_MAC=https://example.com/mac
REDIRECT_WIN=https://example.com/win
REDIRECT_LINUX=https://example.com/linux
REDIRECT_LINUX_DEV=https://example.com/linux-dev
REDIRECT_DEBIAN=https://example.com/debian
